<html>
<head>
  <title>Appointments</title>
</head>
<body>
  <h1 class="naslov">Appointments</h1>
  <table class="table table-striped table-bordered">
    <thead>
        <tr>            
            <th><u>Date and Time</u></th>
            <th><u>Duration</u></th>
            <th><u>Reserved</u></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let appointment of appointments">
            <td>{{appointment.start}}</td>
            <td>{{appointment.duration}}min</td>
            <td>{{appointment.reserved ? 'reserved' : 'free'}}</td>
            <td><button class="btn" (click)="reserve(appointment)">Reserve</button></td>
        </tr>
    </tbody>
</table>
<p></p>
    <button class="sort-btn" (click)="getAppointmentsByDateAndTime()">Sort</button>


</body>
</html>

