<html>
<head>
  <title>History appointments</title>
</head>
<body>
  <h1 class="naslov">History appointments</h1>
  <table class="table table-striped table-bordered">
    <thead>
        <tr>            
            <th><u>Medicine Center</u></th>
            <th><u>Date and Time</u></th>
            <th><u>Duration</u></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let appointment of appointments">
            <td>{{appointment.medCenter.name}}</td>
            <td>{{appointment.start}}</td>
            <td>{{appointment.duration}}min</td>
        </tr>
    </tbody>
</table>
<p></p>
    <button class="sort-btn" (click)="getAppointmentsByDateAndTime()">Sort</button>

</body>
</html>

