
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>Country</th>
                <th>Rating</th>
                <th>Description</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let medCenter of medCenters">
                <td>{{medCenter.id}}</td>
                <td>{{medCenter.name}}</td>
                <td>{{medCenter.street}}</td>
                <td>{{medCenter.city}}</td>
                <td>{{medCenter.country}}</td>
                <td>{{medCenter.avgRate}}</td>
                <td>{{medCenter.description}}</td>
            </tr>
        </tbody>
    </table>
   
    <div class="dropdown" style="float:center;">
        <button class="dropbtn">Sort</button>
        <div class="dropdown-content" style="left:0;">
          <a (click)="getAllMedCentersByName()">by name</a>
          <a (click)="getAllMedCentersByCity()">by city</a>
          <a (click)="getAllMedCentersByRating()">by rating</a>
        </div>
      </div>


